
#parcel_pickup-pane .form-item,#parcel_delivery-pane .form-item,.parcel_data {
line-height:30px;
width:580px;
text-align:center;
display: inline-block;
}

#parcel_pickup-pane .form-item label,#parcel_delivery-pane .form-item label{
width:150px;
text-align:right;
float:left;
}
#parcel_pickup-pane .form-item input,#parcel_pickup-pane .form-item select,#parcel_delivery-pane .form-item input,#parcel_delivery-pane .form-item select, #parcel_pickup-pane  .form-textarea-wrapper,#parcel_delivery-pane  .form-textarea-wrapper{
margin-left:15px;
float:left;
}
.date-padding{
margin-left:15px;
float:left;
width:400px;
padding:0 !important;
}
#parcel_pickup-pane .form-item .pickup_street2,#parcel_delivery-pane .form-item .delivery_street2{
margin-left:165px;
}
.date-padding .form-item{
width:250px !important;
}
.date-padding .form-item label{display:none}
.pick_up_time_ampm{
margin-left: 350px !important;
margin-top: -55px;
}
.authority_to_leave{margin-left:165px !important;  margin-top:10px;margin-right: -40px;}
#parcel_pickup-pane .form-textarea-wrapper ,#parcel_delivery-pane .form-textarea-wrapper{
width:300px !important;
} 
 .description{clear:both}
 .container-inline-date{margin-bottom:-20px}


#admin-add-parcels-form .fieldset-wrapper .form-item{
line-height:30px;
width:780px;
text-align:center;
display: inline-block;
margin:0px;
padding:0px;
}
#admin-add-parcels-form .fieldset-wrapper .size{
overflow:hidden;
}
#admin-add-parcels-form .fieldset-wrapper .size .form-item{
width:auto;
float:left;
}

#admin-add-parcels-form .fieldset-wrapper .size .form-item label{
width:auto;
}

#admin-add-parcels-form .fieldset-wrapper .size div:first-child label{
width:200px;
}
#admin-add-parcels-form .fieldset-wrapper .size div:first-child input{
margin-left:15px;
}

#admin-add-parcels-form .fieldset-wrapper .form-type-checkbox {
margin-left: -510px;
    margin-top: 5px;
    position: absolute;
    width: 200px;
}
#admin-add-parcels-form .fieldset-wrapper .form-type-checkbox label{
width:auto !important;
line-height:20px;
}

#admin-add-parcels-form .fieldset-wrapper .size .form-item input{
margin-left:0px;
}

#admin-add-parcels-form .fieldset-wrapper .form-item label {
  width:200px;
text-align:right;
float:left;
}
#admin-add-parcels-form .fieldset-wrapper .form-item input , 
#admin-add-parcels-form .fieldset-wrapper .form-item select ,
#admin-add-parcels-form .fieldset-wrapper .form-item .form-textarea-wrapper{
margin-left:15px;
float:left;
}
#admin-add-parcels-form .fieldset-wrapper .form-item .form-textarea-wrapper{
width: 300px !important;
}
#admin-add-parcels-form .fieldset-wrapper .check_price{
margin-left:200px;
}
#admin-add-parcels-form .pick_up_time_ampm{
margin-top:0px ;
margin-left:15px !important;
}

#admin-add-parcels-form .date-padding{
width:300px;
}


#admin-add-parcels-form .note{
float:right;
width:550px;
margin-top:-200px;
}

#admin-add-parcels-form .note .form-type-textarea{
width:500px;
}
#admin-add-parcels-form .note .form-type-textarea textarea{
max-height:80px;
}
#admin-add-parcels-form .note .form-type-textarea label{
width:150px;
}
#admin-add-parcels-form .pick_up_time_ampm {
 margin-left: 20px !important;
    margin-top: -40px;
    position: absolute;
}

.parcels .pickup_location {
float:left;
width:40%;

}
.parcels .delivery_location {
float:right;
width:40%;
}

.parcels .pickup_location .form-item,
.parcels .delivery_location .form-item{

width:480px !important;

}
.parcels .pickup_location .form-item label,
.parcels .delivery_location .form-item label{
width:150px !important;
}
.parcels .pickup_location .fieldset-wrapper div:nth-child(9),
.parcels .delivery_location .fieldset-wrapper div:nth-child(9)
{
display:none !important;
}

