
#parcel_pickup-pane .form-item,#parcel_delivery-pane .form-item,.parcel_data {
line-height:30px;
width:580px;
text-align:center;
display: inline-block;
}

#parcel_pickup-pane .form-item label,#parcel_delivery-pane .form-item label{
width:150px;
text-align:right;
float:left;
}
#parcel_pickup-pane .form-item input,#parcel_pickup-pane .form-item select,#parcel_delivery-pane .form-item input,#parcel_delivery-pane .form-item select, #parcel_pickup-pane  .form-textarea-wrapper,#parcel_delivery-pane  .form-textarea-wrapper{
margin-left:15px;
float:left;
width:300px;
}

input.delivery_street2,input.pickup_street2{
margin-left:165px !important;
}


.date-padding{
float:left;
width:400px;
padding:0 !important;
}
#parcel_pickup-pane .form-item .pickup_street2,#parcel_delivery-pane .form-item .delivery_street2{
margin-left:165px;
}
.date-padding .form-item{
width:250px !important;
}
.date-padding .form-item label{display:none}
.pick_up_time_ampm{
margin-left: 476px !important;
margin-top: -59px;
width:auto !important;
}
.authority_to_leave{margin-left:165px !important;  margin-top:10px;margin-right: -40px; width: auto !important;}
#parcel_pickup-pane .form-textarea-wrapper ,#parcel_delivery-pane .form-textarea-wrapper{
width:300px !important;
} 
 .description{clear:both}
 .container-inline-date{margin-bottom:-20px}


#admin-add-parcels-form .fieldset-wrapper .form-item{
line-height:30px;
width:780px;
text-align:center;
display: inline-block;
margin:0px;
padding:0px;
}
#admin-add-parcels-form .fieldset-wrapper .size{
overflow:hidden;
}
#admin-add-parcels-form .fieldset-wrapper .size .form-item{
width:auto;
float:left;
}

#admin-add-parcels-form .fieldset-wrapper .size .form-item label{
width:auto;
}

#admin-add-parcels-form .fieldset-wrapper .size div:first-child label{
width:200px;
}
#admin-add-parcels-form .fieldset-wrapper .size div:first-child input{
margin-left:15px;
}

#admin-add-parcels-form .fieldset-wrapper .form-type-checkbox {
margin-left: -510px;
    margin-top: 5px;
    position: absolute;
    width: 200px;
}
#admin-add-parcels-form .fieldset-wrapper .form-type-checkbox label{
width:auto !important;
line-height:20px;
}

#admin-add-parcels-form .fieldset-wrapper .size .form-item input{
margin-left:0px;
}

#admin-add-parcels-form .fieldset-wrapper .form-item label {
  width:200px;
text-align:right;
float:left;
}
#admin-add-parcels-form .fieldset-wrapper .form-item input , 
#admin-add-parcels-form .fieldset-wrapper .form-item select ,
#admin-add-parcels-form .fieldset-wrapper .form-item .form-textarea-wrapper{
margin-left:15px;
float:left;
}
#admin-add-parcels-form .fieldset-wrapper .form-item .form-textarea-wrapper{
width: 300px !important;
}
#admin-add-parcels-form .fieldset-wrapper .check_price{
margin-left:200px;
}
#admin-add-parcels-form .pick_up_time_ampm{
margin-top:0px ;
margin-left:15px !important;
}

#admin-add-parcels-form .date-padding{
width:300px;
}


#admin-add-parcels-form .note{
float:right;
width:550px;
margin-top:-200px;
}

#admin-add-parcels-form .note .form-type-textarea{
width:500px;
}
#admin-add-parcels-form .note .form-type-textarea textarea{
max-height:80px;
}
#admin-add-parcels-form .note .form-type-textarea label{
width:150px;
}
#admin-add-parcels-form .pick_up_time_ampm {
 margin-left: 20px !important;
    margin-top: -40px;
    position: absolute;
}

.parcels .pickup_location {
float:left;
width:40%;

}
.parcels .delivery_location {
float:right;
width:40%;
}

.parcels .pickup_location .form-item,
.parcels .delivery_location .form-item{

width:480px !important;

}
.parcels .pickup_location .form-item label,
.parcels .delivery_location .form-item label{
width:150px !important;
}
.parcels .pickup_location .fieldset-wrapper div:nth-child(9),
.parcels .delivery_location .fieldset-wrapper div:nth-child(9)
{
display:none !important;
}


.parcel_detail{
overflow:hidden;
}


.prcode{
float:left;
width:220px;
}
.prcode img{
max-width:200px;
}
.parcel_detail .field{
width:300px;
float:left;
}
.pickup_info{
float:left;
width:49%;
}
.delivery_info{
float:right;
width:49%;
}

.field-name-field-delivery-location .field-label ,.field-name-field-delivery-location .adr, .delivery_info .field-name-field-company{
font-size:20px;
font-weight:bold;
}

.print-left{
float:left;
width:68%;
}
.print-right{
float:right;
width:30%;
}
.print-left .delivery_info{
float:none;
width:auto;
margin-top:30px;
}
.print-left .delivery_info .adr{
font-size:24px;
}
.print-left .delivery_info .adr .company-name{
font-weight:bold;
font-size:26px;
}
.print-left .delivery_info .adr .fn{
font-size:26px;
}
.print-left .note{
border:1px solid #ccc;
font-size:20px;
padding:20px 10px;
margin-top:30px;
}

.print-left .leave_wapper{
text-align:center;
}

.print-left .leave{
font-size:20px;
font-weight:bold;
border:1px solid #ccc;
padding:10px;
display: inline-table;

}
.print-left .site_info{
clear: both;
line-height: 73px;
overflow: hidden;
}

.print-left .site_info img{
float:left;
margin-right:10px;
}

.print-left .site_info .site_name{
font-size:20px;
}

.print-right .pickup_info{
float:none;
width:auto;
}
.print-right .pickup_info .adr{
font-size:16px;
text-align:right;
}
.print-right .pickup_info .adr .company-name{
font-weight:bold;
}
.print-right .detail_info{
border:1px solid #ccc;
padding:5px;
margin-top:10px;
}

.print-right .qrcode img{
max-width:100%;
}
.print-right .qrcode{
margin-top:10px;
}
.print-action{
clear:both;
}


