.rows-wrapper .form-item{
float:left;
margin:0px 20px 0px 0px!important;

}


.rows-wrapper{
clear:both;
overflow:hidden;
}
.label{
clear:both;
overflow:hidden;
height:30px;
}
.label label{
float:left;
line-height:30px;
margin-right:20px;
}

.label label.val{
width:93px;
}

.label label.desc{
width:215px;
}
.del{
line-height:37px;
}
