
.live-parcels-status h2{height: 30px;margin-bottom:15px;}
.small-text{width:50px;padding:3px 5px;border: 1px solid #ccc;}
.field{float:left;width:170px;text-align:center;}
.field-small{float:left;width:100px;text-align:center;}
.hide{display:none;}
.packagedata{border:1px solid #ccc !important ;list-style-type: none !important;display: inline-block;}
#phead{
 height:30px;line-height:30px;
}

#phead div{border-right:1px solid #ccc;border-bottom: 1px solid #ccc;
display: inline-block;
margin-right: -1px;
}
.package-line{
 height:30px;line-height:30px;
 padding:5px 0px;
border-top: 1px solid #ccc;
}
.parcels-title{font-size:16px; font-size:16px; height:30px;line-height:30px;border-bottom:1px solid #ccc;}
.pickup-search{margin:10px 0px;}
.show-region{
display:none;
}

