body {
background:white;
color:black;
font-size:12px;
}
li {
list-style-type: none; 
}
.page-main tr td, .page-main tr th{
padding:0;
}
.page-main li {
list-style-type: none; 
}
.live-parcels-status tr,.page-main td {
background:#fff !important;
}
.page-main {
 width:650px;
 margin:auto;
 padding:10px 15px 0px 15px;
 display: inline-block;
 margin-top:-15px;
}
.header-warning {
color:red;
font-weight:700;
width:100%;
text-align:center;
display:none;
}
.header-mess {
padding-left:12px;
margin-top:25px;
}
.header-mess h1{
font-size: 40px;
margin-top: 15px;
}
.header-content {
margin-top:-16px;
width:600px;
}
.page-float {
width:450px;
float:left;
}
.page-content-title {
margin-top: -10px;
border-bottom: 1px solid #ccc;
height: 38px;
margin-bottom: -10px;
width: 650px;
}
.page-content-choose {
margin-top:-10px;
padding-top:15px;
}
.page-content-choose input {
margin:0px;
}
.page-content-address {
margin-top:15px;
width:590px;
}
.page-content-address input {
width:150px;
}
.page-content-address strong {
margin-right:10px;
}
.post-all {
border: 1px solid #ccc;
margin-top: 15px;
width: 450px;
float: left;
}
.post-mess {
margin-top:2px;
padding-left:10px;
float:left;
}
.parcel {
background:#E9E6E3;
padding-left: 10px;
line-height:35px;
border:1px solid #ccc;
height:35px;
}
.parcel strong {
float:left;
}
.dimensions .dim-first {
margin-left:104px;
}
.dimensional {
margin-top:10px;
}
.dimens-input input{
background:#d2d2d2;
margin-right:5px;
}
.weight {
margin-top:10px;
}
.weight input {
margin-left:139px;
}
.destination {
width:238px;
}
.des-text input {
width:150px;
}
.post-btn {
width:100px;
float:right;
margin-top: -52px;
margin-right: 2px;
}
.post-btn .duplicate {
margin-top:10px;
margin-left:6px;
display:none;
}
.order {
background: #F6F6F2;
float: right;
width: 180px;
margin-top: 16px;
min-height: 266px;
margin-bottom:5px;
}
.order-btn {
width: 194px;
float:right;
margin-right:-10px;
}
.order-btn input {
width:88px;
}
.footer-note{
width:450px;
text-align:center;
margin-top:15px;
margin-bottom:10px;
float:left;
}
.order ul{
margin:0px !important;
padding:0px !important;
}
.order-title {
font-size:18px;
font-weight:bold;
padding: 10px 15px 5px;
}
.order li {
margin-left:15px;
margin-bottom: 8px;
margin-top:10px;
}
.order-total {
border-top: 1px solid #999;
margin-top: 15px;
padding-top: 6px;
margin-left: 15px;
margin-right: 8px;
}
.dimens-input {
width:368px;
}
.parcel input {
float: right;
background: #E8E8E8;
height: 30px;
display: none;
width: 35px;
margin-right: 2px;
}
.pcode {
display: none;
position: absolute;
padding: 0 !important;
margin: 0 !important;
z-index:3;
height:150px;
overflow-y:auto;
background:#eee;
border:1px solid #333;
}
.fpcode {
display: none;
position: absolute;
padding: 0 !important;
margin: 0 !important;
z-index:3;
left:218px;
height:150px;
overflow-y:auto;
background:#eee;
border:1px solid #333;
}
.pcode li,.fpcode li{
line-height:25px;
padding: 3px;
}
.pcode li:hover,.fpcode li:hover{
background:#ccc;
cursor:pointer;
}
.package-from {
width: 168px;
display: inline-block;
}
.add_new input {
float: right;
margin-top: 10px;
}
.error-mess {
color: red;
font-size: 12px;
font-weight: bold;
float: left;
margin-left: 56px;
display:none;
}
.post-mess table tr td:first-child{
width:170px;
}

.post-mess table tr  input {
width:46px;
}
.post-mess table tr .des-text input {
width:150px;
}
