.page-admin-liveparcels-discounts .form-item label{
display:block;
width:500px;
float:left;
}
.page-admin-liveparcels-discounts .form-item input{
float:left;
width:150px;
}

.page-admin-liveparcels-discounts fieldset.form-wrapper{
}
#edit-add{
margin:30px -14px -14px -16px;
}
#edit-add .form-item input{
float:none;
}
#edit-add .form-item label{
display:block;
width:inherit;
}
#edit-add .form-item{
float:left;
}
#edit-add label{
margin-right:10px;
}
#edit-add .form-item-add-more-rate{
margin-left:30px;
}
#edit-add .form-submit{
float:left;
margin-top:0.5em;
margin-left:0.5em;
}
body.page-cart-checkout-complete #block-lp-search-lp-parcel-search{
display:none;
}
